// GLOBAL STYLE

* {
    word-spacing: 0 !important;
    letter-spacing: 0 !important;
}

a,
p,
ul,
li,
input,
span,
label,
textarea,
button,
.button
.btn {
    font-family: 'vazir', tahoma, arial !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
b {
    font-family: 'vazir-bold', tahoma, arial !important;
}