.top-contact-link li i{
  margin-left: 10px;
}

.intro-feature  span{
  float: right;
  margin-left: 30px;
  margin-right: 0;
}

#section-about img{
  left: inherit;
  right: 0px;
}

.about-single-content i{
  float: right;
  margin-right: 0;
  margin-left: 30px;
}

.client-img-block{
  float: right;
  margin-left: 50px;
  margin-right: 0;
}

.client-info i{
  left: 0;
  right: inherit;
}

.list-inline{
  float: left;
}

.client-info i{
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}